<main class="main-container">
  <form action="/contacts" method="get">
    <p>
      <label for="search">Search Term</label>
      <input id="search" type="search" name="q" value="{{.QueryParam}}" />
    </p>
    <div class="row-container">
      <button type="submit">Search</button>
      {{if .Flash}}
      <span class="success-message">{{.Flash}}</span>
      {{end}}
      <a href="/contacts/new">Add Contact</a>
    </div>
  </form>

  <table>
    <thead>
      <tr>
        <th>First</th>
        <th>Last</th>
        <th>Phone</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{range .Contacts}}
      <tr>
        <td>{{.First}}</td>
        <td>{{.Last}}</td>
        <td>{{formatPhone .Phone}}</td>
        <td>{{.Email}}</td>
        <td>
          <a href="/contacts/{{.ID}}/edit">edit</a>
          <a href="/contacts/{{.ID}}">view</a>
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>
</main>
