<main class="main-container">
  <form action="/contacts" method="get">
    <p>
      <span style="display: flex; gap: 2rem">
        <label for="search">Search Term</label>
        <em id="indicator" class="htmx-indicator">Searching...</em>
      </span>
      <input hx-get="/contacts" hx-indicator="#indicator" hx-push-url="true" hx-select="tbody > tr" hx-target="tbody"
        hx-trigger="search, keyup delay:500ms changed" id="search" type="search" name="q" value="{{.SearchTerm}}" />
    </p>
    <div class="row-container">
      <button type="submit">Search</button>
      {{if .Flash}}
      <span class="success-message">{{.Flash}}</span>
      {{end}}
      <a href="/contacts/new">Add Contact
        <span hx-get="/contacts/count" hx-trigger="revealed"><span class="htmx-indicator">Loading...</span></span></a>
    </div>
  </form>

  <form>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>First</th>
          <th>Last</th>
          <th>Phone</th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>
      {{template "partials/rows" .}}
    </table>
    <button class="danger" hx-delete="/contacts" hx-target="body"
      hx-confirm="Are you sure you want to delete the selected contacts?">
      Delete Selected Contacts
    </button>
  </form>
</main>