<main class="main-container">
  <form action="/contacts" method="get">
    <p>
      <label for="search">Search Term</label>
      <input id="search" type="search" name="q" value="{{.SearchTerm}}" />
    </p>
    <div class="row-container">
      <button type="submit">Search</button>
      {{if .Flash}}
      <span class="success-message">{{.Flash}}</span>
      {{end}}
      <a href="/contacts/new">Add Contact</a>
    </div>
  </form>

  <table>
    <thead>
      <tr>
        <th>First</th>
        <th>Last</th>
        <th>Phone</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{range .Contacts}}
      <tr>
        <td>{{.First}}</td>
        <td>{{.Last}}</td>
        <td>{{formatPhone .Phone}}</td>
        <td>{{.Email}}</td>
        <td>
          <a href="/contacts/{{.ID}}/edit">edit</a>
          <a href="/contacts/{{.ID}}">view</a>
        </td>
      </tr>
      {{end}}
      <tr>
        <td colspan="3">Displaying {{.Count}} of {{.TotalCount}} records</td>
        <td colspan="2">
          {{if .HasMore}}
          <span
            hx-get="/contacts?page={{loadMore .Page}}&q={{.SearchTerm}}"
            hx-select="tbody > tr"
            hx-swap="outerHTML"
            hx-target="closest tr"
            hx-trigger="revealed"
            {{if
            .HasNoMore}}disabled{{end}}
          >
            Loading more...
          </span>
          {{else}}
          <span>All records displayed</span>
          {{end}}
        </td>
      </tr>
    </tbody>
  </table>
</main>
