{{template "partials/header" .}}

<main class="container">
  <form class="mb-xl" action="/contacts/new" method="post">
    <legend>New Contact</legend>
    <p>
      <label for="first">First Name</label>
      <input id="first" type="text" name="first" />
      <span>{{.Contact.error}}</span>
    </p>
    <p>
      <label for="last">Last Name</label>
      <input id="last" type="text" name="last" />
    </p>
    <p>
      <label for="phone">Phone</label>
      <input id="phone" type="tel" name="phone" />
    </p>
    <p>
      <label for="email">Email</label>
      <input id="email" type="email" name="email" />
    </p>
    <button type="submit">Submit</button>
  </form>
  <p>
    <a href="/contacts">Back to contacts</a>
  </p>
</main>

{{template "partials/footer" .}}