{{template "partials/header" .}}

<main class="main-container">
  <form action="/contacts/new" method="post">
    <fieldset>
      <legend>Add Contact</legend>
      <p>
        <label for="first">First Name</label>
        <input id="first" type="text" name="first" autocomplete="off" value="{{.Contact.First}}" />
      </p>
      <p>
        <label for="last">Last Name</label>
        <input id="last" type="text" name="last" autocomplete="off" value="{{.Contact.Last}}" />
      </p>
      <p>
        <label for="phone">Phone</label>
        <input id="phone" type="tel" name="phone" autocomplete="off" value="{{.Contact.Phone}}" />
      </p>
      <p>
        <label for="email">Email</label>
        <input id="email" type="email" name="email" autocomplete="off" value="{{.Contact.Email}}" />
      </p>
      <div class="row-container">
        <button type="submit">Submit</button>
        {{if .Error}}
        <span class="error-message">Unable to save: {{.Error}}</span>
        {{end}}
        <a href="/contacts">Back to contacts</a>
      </div>
    </fieldset>
  </form>
</main>

{{template "partials/footer" .}}